# ==========================================================
# Trantor-BB-CoC-bot
# Files and folders ignored by Git
# ==========================================================

# ==========================================================
# Development screenshots and images
# ==========================================================

/screenshots/
/Pictures/
/templates/save/


# ==========================================================
# Development and debugging
# ==========================================================

/backup/
/debug/
/calibration/
/kk/
/test scripts/
/tools/


# ==========================================================
# Personal notes and local documentation
# ==========================================================

/install_CoC_instructions.md

# ==========================================================
# Python cache and compiled files
# ==========================================================

__pycache__/
*.py[cod]
*.pyd


# ==========================================================
# Python virtual environments
# ==========================================================

.venv/
venv/
env/


# ==========================================================
# IDE / Editor settings
# (Uncomment if you don't want to share your editor settings)
# ==========================================================

#.vscode/
.idea/


# ==========================================================
# Operating system files
# ==========================================================

.DS_Store
Thumbs.db



# ==========================================================
# Temporary files
# ==========================================================

*.tmp
*.bak
*.log

